<ul class="top-bar">

    <!-- Hamburger menu -->
    <li style="float:left">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
        <span></span>
        </label>

        <ul class="menu__box">
            <li><a href="/search">Search</a></li>
            <li><a href="/thoughts">Public Thoughts (trending)</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </li>

    <li><a href="/">Home</a></li>

    <li style="float:right">
        <div class="search-bar">
            <form action="" class="search-bar">
                <input type="text" class="search-box" placeholder="Search.." name="search">
                <button type="submit" class="search-submit">Submit</button>
            </form>
        </div>
    </li>
</ul>