<div class="search-bar">
    <form action="/search/{{searchText}}" class="search-bar">
        <input type="text" class="search-box" placeholder="Search.." name="searchText">
        <button type="submit" class="search-submit">Submit</button>
    </form>
</div>