:root {
  color: #818181;
}

body {
  background-color: #000000;
}

p {
  margin-top: auto;
  margin-bottom: auto;
}

.login-container {
	width: 30%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.btn {
	background-color: #4E9F3D !important;
}

.btn:hover {
	background-color: #D8E9A8 !important;
}

hr {
	width: 75%;
}

.center-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
  max-width: 1000px;
	position: static;
  margin: 0 auto;
}

.dash-content {
  display: flex;
  flex-direction: column;
	background-color: #000000 !important;
  width: 100%;
  height: 100%;
}

.top-bar{
	width: 100% !important;
	max-width: 1200px;
	border:1px solid #ccc;
	border-width:1px 0;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}

.top-bar li{
	display:inline;
}

.top-bar a{
	display:inline-block;
	padding:10px;
}

.add-btn {
	position: fixed;
	left: 75%;
	top: 90%;
	transform: translate(-50%, -50%);
}

/* Add stories input fields */
.input-field {
	background-color: white;
}

/* Edit button on public stories */
.fa-small {
  font-size: 16px !important;
}

.row {
  width: 100%;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.search-bar {
  display: flex;
}

.search-box {
  max-height: 2rem;
}

.search-submit {
  max-height: 2rem;
  margin: auto 0px;
}



/* Home page thought containers */

.feed-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.thought {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 50px;

  border-style: solid;
  border-width: 1px;
}

.profile-pic-container {
  display: flex;
  width: 10%;
  height: auto;
  align-items: center;
  justify-content: center;

  /* border: 2px solid #4E9F3D; */
}

.profile-pic {
  border-radius: 50%; 
  margin: 5px 0px;
  height: 50px;
  width: 50px;
}

.thought-content {
  width: 90%;

  /* border: 2px solid #FF0000; */
}

.thought-info-bar {
  width: auto;
  height: 25px;

  /* border: 2px solid #4E9F3D; */
}

.thought-text {
  color: #FFFFFF;
  width: auto;
  height: auto;

  margin: 5px 0px;

  /* border: 2px solid #00FFFF; */
}

.thought-impressions {
  width: auto;
  height: auto;
  margin: 10px 0px;

  /* border: 2px solid #FF00FF; */
}

/* Home page thought containers */









#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    margin-top: 1.25rem;
    margin-left: 1rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }