.modal-container {
  margin: auto;
  transform: translate(0, 42rem);
  display: flex;
  flex-direction: column;
  background-color: #303030;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 16rem;
  width: 30rem;
  font-size: 20px;
  border-radius: 0.25rem;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2rem;
}

.modal-btn {
  background-color: rgb(37, 37, 37);
  border-color: rgb(36, 36, 36);
  color: white;
  cursor: pointer;
}

.close-modal-btn {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  height: 1.5rem;
  width: 3.5rem;
}

.post-modal-title {
  text-align: center;
}
.modal-submit-btn {
  width: 2.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
}

.add-post-text {
  color: white;
  background-color: rgb(61, 61, 61);
  border-color: rgba(0, 0, 0, 0);

  position: absolute;
  top: 2.5rem;
  left: 5%;
  height: 67%;
  width: 90%;

  resize: none;
  white-space: pre-wrap;
  font-size: 18px;
  overflow: hidden;
  outline: none;
}

.form {
  height: 80%;
}