img {
  max-width: 100%;
  max-height: 100%;
}

.profile-image {
  border-radius: 100px;
  width: 48px;
  margin-right: 15px;
}

.post-container {
  max-width: 35rem;
  background: #303030;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 3px;
  padding: 25px;
  height: auto;
}

.post-header {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}

.post-header-info {
  font-weight: 800;
  white-space: pre-wrap;
}

.post-header-info span {
  color: #657786;
  font-weight: normal;
  margin-left: 5px;
}

.post-header-info p {
  font-weight: normal;
  margin-top: 5px;
}

.post-img-wrap {
  width: fit-content;
  height: fit-content;
  padding-left: 60px;
}

.post-info-counts {
  display: flex;
  margin-top: 10px;
  height: 1rem;
  justify-content: center;
}
.post-info-counts div {
  display: flex;
}

.post-info-counts div svg {
  color: #657786;
}

svg {
  width: fit-content;
  margin-right: 10px;
}

svg:hover {
  cursor: pointer;
}

.profile-pic-wrap {
  width: fit-content;
}